.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0;
}

.container li {
  padding: 1rem;
  border: 0.5rem solid rgb(205, 125, 141);
  border-radius: 50%;
}

@media (min-width: 670px) {
    .container {
      justify-content: space-between;
    }
  }