.container {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  max-height: 40rem;
  max-height: 90vh;
  overflow: auto;
  overflow-y: scroll;
}
.images-container {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}
.images {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  cursor: pointer;

}

.hero-image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

.name {
  font-size: 3rem;
  text-transform: capitalize;
}

.prices {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.prices > * {
  margin-right: 1rem;
}

.description {
  font-size: 1.5rem;
}

.btn {
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: aqua;
  cursor: pointer;
}

.btn:hover {
  background-color: bisque;
}

.active-btn {
  background-color: bisque;
}


.price {
    font-size: 3rem;
}